body {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: auto;
  background-color: greenyellow;
  color: rgb(237, 0, 119);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  margin: 10px;
  padding: ;
}
.quiz-background {
  border: 3px dotted rgb(255, 112, 155);
  height: 20;
  padding: 10px;
  background-color: rgb(199, 241, 136);
  text-align: center;
  border-radius: 8px;
}
.question1 {
  background-color: rgb(199, 241, 136);
  text-align: center;
  border: 4px;
  padding: 10px;
  border-style: double;
}
.button {
  border: none;
  background-color: rgb(245, 225, 228);
  color: rgb(0, 203, 20);
  border-radius: 5px;
}
h5 {
  text-align: start;
  background-color: rgb(245, 225, 228);
  border-radius: 10px;
}
