body {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: auto;
  background-color: greenyellow;
  color: rgb(237, 0, 119);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}
li {
  background-color: aliceblue;
  border-style: double;
  border-radius: 8px;
  text-align: center;
  margin: 2%;
}

.quiz-background {
  border: 3px dotted rgb(255, 112, 155);
  height: 20;
  padding: 10px;
  background-color: rgb(199, 241, 136);
  text-align: center;
  border-radius: 8px;
}
.question {
  background-color: rgb(199, 241, 136);
  text-align: center;
  border: 4px;
  padding: 25px;
  border-style: double;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  row-gap: 50px;
}
button {
  border-color: bisque;
  background-color: rgb(245, 225, 228);
  color: rgb(0, 203, 20);
  border-radius: 5px;
  margin-top: 2%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
}
.label {
  width: 0px;
  height: 0px;
  border-top: 28px solid rgb(237, 0, 119);
  border-bottom: 13px solid transparent;
  border-right: 13px solid rgb(237, 0, 119);
  border-left: 13px solid rgb(237, 0, 119);
}
.bookmark1 {
  position: relative;
  bottom: 365px;
  left: 540px;
}
